*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family : 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    background-color: #121217;
    overflow-x: hidden;
}

/* General Styles */
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

h1, h2{
    margin-bottom: 10px;
}

p {
    font-size: clamp(0.9rem, calc( 0.5vw + 1rem), 1.2rem);
    margin-bottom: 15px;
    color: rgb(254, 255, 255);
    line-height: 1.6;
}

div {
    display: block;
    unicode-bidi: isolate;
}

section{
    min-height: 100vh;
    padding:80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

/* Animated Background */
.wrapper span{
    position: fixed;
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    background-color: #18191f;
    box-shadow: 0 0 50px #0072ff,
                0 0 100px #0072ff,
                0 0 150px #0072ff,
                0 0 200px #0072ff;
    animation: animate 10s linear infinite;
}

.wrapper span:nth-child(1) {
    left: 60px;
    animation-delay: 0.6s;
}

.wrapper span:nth-child(2) {
    left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
}

.wrapper span:nth-child(3) {
    left: 20%;
    animation-delay: 2s;
}

.wrapper span:nth-child(4) {
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}

.wrapper span:nth-child(5) {
    left: 40%;
    animation-delay: 1s;
}

.wrapper span:nth-child(6) {
    left: 50%;
    animation-delay: 7s;
}

.wrapper span:nth-child(7) {
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}

.wrapper span:nth-child(8) {
    left: 70%;
    animation-delay: 8s;
}

.wrapper span:nth-child(9) {
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}

.wrapper span:nth-child(10) {
    left: 90%;
    animation-delay: 4s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    80%{
        opacity: 0.7;
    }

    100%{
        transform: translateY(-800px) rotate(720deg);
        opacity: 0;
    }
}

/* Navigation Bar */
nav{
    right:0;
    top:0;
    position: fixed;
    color : rgb(229, 221, 221);
    background-color: rgb(25, 27, 31);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    width : 100%;
    z-index:999;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li {
    height : 50px;
    gap: 5px;
    font-size: 18px;
    margin-right: 20px;
    text-shadow: #000000 1px 1px 5px;
    display: inline-flex;
    align-items: center;
}

nav a {
    height: 100%;
    color: #ffffff;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

nav a:hover{
    color: rgb(31, 111, 235);
}

.navbar li:last-child:hover{
    transition: color 0.3s ease;
    color: rgb(31, 111, 235);
}


nav li:first-child {
    margin-right: auto;
    padding-left: 20px;
    color: rgb(87, 146, 235);
}

/* Sidebar for mobile */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 100000;
    background-color: #33333359;
    backdrop-filter: blur(10px);
    box-shadow : -10px 0px 10px rgba(44, 43, 43, 0.5);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar a{
    width: 100%;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
}

.sidebar a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.menubutton {
    display: none;
}

@media (max-width: 800px) {
    .hideon-mobile {
        display: none;
    }
    .menubutton {
        display: inline-flex;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* Shiny Text Animation */
.shinytext{
    font-size: 3rem;
    position: relative;
    background: linear-gradient( 
        90deg, 
        rgb(31, 111, 235),
        rgb(118, 156, 214), 
        rgb(31, 111, 235)
    );
    background-clip: text;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
    to{
        background-position: -200%;
    }
}

/* Animation for appearance*/
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/* home page */

#home{
    color:white;
    text-align: center;
}

#home h1{
    font-size: 3.5rem;
}

#home p{
    font-size: 1.3rem;
    max-width: 700px;
    margin: 0 auto 30px;
}

.pfp {
    width: 350px;
    height: 350px;
    border: 2px solid rgb(13, 17, 23);
    border-radius: 360px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.914);
    box-shadow: #000000a4 1px 3px 5px;
    position: relative;
    flex-shrink: 3;
}

.pfp img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    position: inherit;
    flex-shrink: 3;
}

.box {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

@media(max-width:600px){
    .pfp{
        width: 250px;
        height: 250px;
    }
}

/* about me section */
.container{
    width: 100%;
    height: 87vh;
    background: rgb(13, 17, 23);
    border-radius: 2em;
    box-shadow: 3px 5px 7px #000000;
    display: flex;
    justify-content: center;
    gap:30px;
    align-items: center;
    animation: appear both;
    animation-timeline: view();
    animation-range: 0 cover 25%;
}

@media(max-width:800px){
    .container{
        height: 100vh;
    }
    .abt-text{
        text-align: center;
    }
    .abt-content{
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media(max-height:820px){
    .container{
        height: auto;
        padding: 30px 0;
    }
}

.abt-content{
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container img{
    min-width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 360px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 cover 47%;
    box-shadow: 1px 3px 9px hsl(0, 0%, 0%);
}

.abt-text{
    max-width: 900px;
    width: 90%;
    line-height: 1.7;
    padding: 0;
    color: rgb(208, 210, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 cover 30%;
}

/* skills section */
#skills{
    backdrop-filter: blur(5px);
    background-color: #00000093;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.skills-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    animation: appear both;
    animation-timeline: view();
    animation-range: 0 cover 25%;
}

.skills h3 {
    color: hsl(52, 100%, 50%);
    display: block;
    font-size: 2em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.skill-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    height: auto;
}

.skills{
    background-color: rgb(13, 17, 23);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #00000094;
    text-align: center;
    transition: transform 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    animation: appear both;
    animation-timeline: view();
    animation-range: 0 cover 40%;
}

.skill{
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
}

.skill svg{
    width: 100%;
    height: 100%;
    fill: hsl(0, 0%, 100%);
}

.skills:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* projects section */
#projects{
    backdrop-filter: blur(5px);
    background-color: #00000093;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-header{
    text-align: center;
    width: 55%;
    margin: 0 auto;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 23px;
    box-shadow: 5px 5px 10px #000000;
    background-color: rgb(13, 17, 23) ;
    border: 1px solid rgba(65, 66, 122, 0.644);
    animation: appear both;
    animation-timeline: view();
    animation-range: 0 cover 25%;
}

@media(max-width:1000px){
    .project-header{
        width: 80%;
    }
}

.projects-section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.project{
    background-color: rgb(13, 17, 23);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    border: 1px solid rgba(253, 253, 253, 0.212);
    text-align: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 cover 40%;
}

.project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.project-content {
    padding: 20px;
}

.project-content h2 {
    display: block;
    color: hsl(52, 100%, 50%);
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* view project */
.project-content a{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgb(31, 111, 235);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.project-content a:hover{
    background-color: rgb(21, 81, 175);
}

.project:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* socials section */
.socials{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.socials h1{
    position: relative;
    color:yellow;
    text-align: center;
    font-size: clamp(4rem, calc( 2.5vw + 1rem ), 8rem);
    min-width: 300px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 cover 47%;
}

.socials p{
    color: rgb(214, 212, 212);
    text-align: center;
    max-width: 1200px;
    margin-bottom: 30px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 cover 30%;
}

/* links container */
.social-links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    margin-top: 40px;
}

/* individual account box */
.acc{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 25px 0px;
    background-color: rgb(13, 17, 23);
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 cover 30%;
}

.acc img{
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    position: relative;
}

.acc svg{
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    position: relative;
}

.discord{
    fill: #5865F2;
}

.github{
    fill: #ffffff;
}

/* individual links */
.links{
    width: 100%;
    max-height: fit-content;
    font-size: clamp(0.8rem, calc( 0.3vw + 1rem), 5rem);
    background: rgb(31, 31, 31);
    color: hsl(0, 15%, 90%);
    padding: min(3em, 7%);
    border-radius: 2em;
    text-decoration: none;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 10px #000000;
    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 cover 10%;
}

.links:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

#discord{
    background: #5865F2;
    color: white;
}

#github{
    background: #171515;
    color: white;
}

#tiktok{
    background: black;
    color: white;
    margin-bottom: 20px;
    font-size: clamp(0.5rem, calc( 0.2vw + 1rem), 5rem);
    text-align: right;
}

#instagram{
    background: radial-gradient(
        circle at 30% 107%, 
        #fdf497 0%, 
        #fdf497 5%, 
        #fd5949 45%, 
        #d6249f 60%, 
        #285AEB 90%
        );
    color: white;
    font-size: clamp(0.5rem, calc( 0.2vw + 1rem), 5rem);
    max-width: 55%;
    border-radius: 5em 0 10em 5em;
}

footer{
    width: 100%;
    height: 40px;
    background: #1c1b1b;
    display: flex;
    justify-content: center;
    align-items: start;
    color: rgb(214, 212, 212);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
}